<div class="card p-4 mx-4">
  <h3 class="text-[#392c7d] w-full font-semibold text-xl py-2">Teacher</h3>
  <p class="text-[#303030] mb-4">Manage teacher.</p>
  <hr />
  <div class="flex justify-between mt-5">
    <div class="relative">
      <input
        (input)="search($event)"
        [value]="searchTerm"
        (keydown)="onSearch($event)"
        type="search"
        placeholder="Search teacher"
        class="px-4 py-1 pl-10 border border-[#e9ecef] rounded-lg outline-none"
      />
      <fa-icon
        size="sm"
        [icon]="icon.faSearch"
        class="absolute left-3 top-[50%] translate-y-[-50%] text-[#f66962]"
      ></fa-icon>
    </div>
    <div>
      <button
        (click)="modal.showAddModal = true"
        class="px-6 py-1 border border-[#e9ecef] rounded-lg outline-none bg-[#392c7d] text-white"
      >
        create teacher
      </button>
    </div>
  </div>
  <table class="w-full mt-5">
    <thead>
      <tr>
        <th class="p-1 bg-[#f0f0f0] text-[#212529] text-left">
          <div class="flex items-center w-full h-full">
            <input type="checkbox" class="w-4 h-4 mr-2" />
          </div>
        </th>
        <th class="p-1 bg-[#f0f0f0] text-[#212529] text-left">Teacher</th>
        <th class="p-1 bg-[#f0f0f0] text-[#212529] text-left">Grade</th>
        <th class="p-1 bg-[#f0f0f0] text-[#212529] text-left pr-4">
          Specialization
        </th>
      </tr>
    </thead>
    <tbody *ngIf="!userService.fetching; else loader">
      <tr
        *ngFor="
          let user of users
            | paginate
              : {
                  itemsPerPage: pagination.itemsPerPage,
                  currentPage: pagination.currentPage,
                  totalItems: pagination.totalItems
                }
        "
        class="border-b border-gray-200 last:border-none"
      >
        <td class="text-[#22100d] py-4 px-1 text-left align-middle">
          <div class="flex items-center w-full h-full">
            <input type="checkbox" class="w-4 h-4 mr-2" />
          </div>
        </td>
        <td class="text-[#22100d] py-4 px-1 text-left">
          <div class="flex items-center w-full h-full">
            <span class="inline-block w-9 h-9 rounded-full mr-2 bg-slate-400">
            </span>
            <div class="flex flex-col">
              <span class="inline-block">
                {{ user.name }}
              </span>
              <span class="inline-block">
                {{ user.email }}
              </span>
            </div>
          </div>
        </td>
        <td class="text-[#22100d] py-4 px-1 text-left">
          {{ user.teacher?.rank }}
        </td>
        <td class="text-[#22100d] py-4 px-1 text-left pr-4">
          {{ user.teacher?.specialization }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex p-2 justify-center items-center mt-4">
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
  </div>
</div>

<!-- skeleton -->
<ng-template #loader>
  <tbody>
    <tr
      *ngFor="let e of [].constructor(pagination.itemsPerPage)"
      class="border-b border-gray-200 last:border-none"
    >
      <td class="align-middle h-[56.36px] px-1">
        <span
          class="inline-block animate-pulse w-4 h-[17px] rounded-sm bg-slate-500"
        ></span>
      </td>
      <td class="align-middle h-[56.36px] px-1">
        <span
          class="inline-block animate-pulse w-36 h-[17px] rounded-sm bg-slate-500"
        ></span>
      </td>
      <td class="align-middle h-[56.36px] px-1 text-left">
        <span
          class="inline-block animate-pulse w-36 h-[17px] rounded-sm bg-slate-500"
        ></span>
      </td>
      <td class="align-middle h-[56.36px] px-1 text-left">
        <span
          class="inline-block animate-pulse w-36 h-[17px] rounded-sm bg-slate-500"
        ></span>
      </td>
      <td class="align-middle h-[56.36px] px-1 text-left pr-4">
        <span
          class="inline-block animate-pulse w-36 h-[17px] rounded-sm bg-slate-500"
        ></span>
      </td>
    </tr>
  </tbody>
</ng-template>

<div
  *ngIf="modal.showAddModal"
  (click)="modal.showAddModal = false"
  class="fixed flex justify-center items-center left-0 top-0 w-full h-full z-30 bg-[#000000c2]"
>
  <div class="card p-4 w-full max-w-lg" (click)="$event.stopPropagation()">
    <h3 class="text-[#392c7d] w-full font-semibold text-base uppercase py-2">
      Add scheduled course
    </h3>
    <hr />
    <form
      [formGroup]="createProfessorForm"
      (submit)="onCreateProfessor()"
      class="flex flex-col gap-5 mt-4"
    >
      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="name">
          Professor name
          <span class="text-red-500">*</span>
        </label>
        <input
          id="name"
          placeholder="John Doe"
          type="text"
          formControlName="name"
          class="px-5 py-2 w-full border border-[#babcbe] rounded-md outline-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="email">
          Professor email
          <span class="text-red-500">*</span>
        </label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="px-5 py-2 w-full border border-[#babcbe] rounded-md outline-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="specialization">
          Specialization
          <span class="text-red-500">*</span>
        </label>
        <ng-select
          id="specialization"
          placeholder="Choose a specialization"
          formControlName="specialization"
        >
          <ng-option
            *ngFor="let specialization of specializations"
            [value]="specialization.id"
            >{{ specialization.displayName }}</ng-option
          >
        </ng-select>
      </div>
      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="rank">
          Rank
          <span class="text-red-500">*</span>
        </label>
        <ng-select
          id="rank"
          placeholder="Choose a attache"
          formControlName="rank"
        >
          <ng-option *ngFor="let rank of ranks" [value]="rank.id">{{
            rank.displayName
          }}</ng-option>
        </ng-select>
      </div>
      <button
        [disabled]="!createProfessorForm.valid"
        type="submit"
        class="px-6 py-2 border border-[#babcbe] rounded-lg outline-none bg-[#392c7d] disabled:bg-slate-300 text-white"
      >
        Create
      </button>
    </form>
  </div>
</div>
