<div
  (click)="goBack()"
  class="fixed flex justify-center items-center left-0 top-0 w-full h-full z-30 bg-[#000000c2]"
>
  <div class="card p-4 w-full max-w-lg" (click)="$event.stopPropagation()">
    <h3 class="text-[#392c7d] w-full font-semibold text-base uppercase py-2">
      Add scheduled course
    </h3>
    <hr />
    <form
      [formGroup]="createSessionCourseForm"
      (submit)="onCreateSessionCourse()"
      class="flex flex-col gap-5 mt-4"
    >
      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="start_date">
          Start date
          <span class="text-red-500">*</span>
        </label>
        <input
          id="start_date"
          placeholder="Start date"
          type="datetime-local"
          formControlName="start_date"
          class="px-5 py-2 w-full border border-[#babcbe] rounded-md outline-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="end_date">
          End date
          <span class="text-red-500">*</span>
        </label>
        <input
          id="end_date"
          type="datetime-local"
          formControlName="end_date"
          class="px-5 py-2 w-full border border-[#babcbe] rounded-md outline-blue-500"
        />
      </div>

      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="attache_id">
          Attache
          <span class="text-red-500">*</span>
        </label>
        <ng-select
          id="attache_id"
          placeholder="Choose a attache"
          formControlName="attache_id"
        >
          <ng-option *ngFor="let attache of attaches" [value]="attache.id">{{
            attache.displayName
          }}</ng-option>
        </ng-select>
      </div>
      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="scheduled_course_id">
          Scheduled course
          <span class="text-red-500">*</span>
        </label>
        <ng-select
          id="scheduled_course_id"
          placeholder="Choose a scheduled course"
          formControlName="scheduled_course_id"
        >
          <ng-option
            *ngFor="let scheduledCourse of scheduledCourses"
            [value]="scheduledCourse.id"
            >{{ scheduledCourse.displayName }}</ng-option
          >
        </ng-select>
      </div>
      <div class="flex flex-col">
        <label class="font-semibold text-sm mb-2" for="classroom_id">
          Classroom
        </label>
        <ng-select
          id="classroom_id"
          placeholder="Choose a classroom"
          formControlName="classroom_id"
        >
          <ng-option
            *ngFor="let classroom of classrooms"
            [value]="classroom.id"
            >{{ classroom.displayName }}</ng-option
          >
        </ng-select>
      </div>
      <button
        [disabled]="!createSessionCourseForm.valid"
        type="submit"
        class="px-6 py-2 border border-[#babcbe] rounded-lg outline-none bg-[#392c7d] disabled:bg-slate-300 text-white"
      >
        Create
      </button>
    </form>
  </div>
</div>
